{
    "version": "v1.5.8",
    "profileName": "HD2SDGK",
    "localHostPort" : 4567,
    "profileButtons": ["Kit1", "Kit2", "Kit3", "Kit4", "Kit5", "Kit6"],
    "streamDeckAppdataPath": "%AppData%\\Elgato\\StreamDeck",
    "streamDeckExePath": "C:\\Program Files\\Elgato\\StreamDeck\\StreamDeck.exe",
    "selectorRows": 1,
    "selectorColumns": 4,
    "stratConfigUpdateURL": "https://raw.githubusercontent.com/jredenius/HD2SDGK/master/StratConfig.json",
}